        body,h1,h2,h3,p,div,ul,li,dl,dt,dd{
            margin:0;
            padding:0
        }
        body{
            font-family:"나눔고딕", "맑은 고딕", "돋움";
            font-size:14px;
            line-height:1.5
        }
        ul,li{
            list-style:none
        }
        a{
            text-decoration:none;
            color:#000 /* inherit */
        }
        address{
            font-style:normal
        }

        /* 공통 클래스 */
        .blind{position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden}
        .screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent: -9999px}
        .hide{position:absolute;left:-9999px;top:-9999px}
